.bundle

# ignore db dumps
db/*
# ignore generated docs
doc/*
# ignore app specific config details
foursquare.yml
amee.yml

# no logs or tmp files please
log/*.log
tmp/

# ignore vagrant cruft
.vagrant