<div class="row">

<div class="span7">

  <div id="amee_logo">
    <h1><%= image_tag('amee-logo.png', :alt => "AMEE - Environmental Intelligence Everywhere") %></h1>
  </div>

  <h3>CO42 is a fun, free and easy-to-use way to estimate the amount of carbon your everyday journeys emits.</h3>

  <p>Based on your check-ins on Foursquare, CO42 works out the amount of CO2 you'll have emitted on the journey between each one, depending on how you got there. You can then compare different means of transport to see which is the most carbon-efficient, and how little changes to your daily routine can make a huge difference to the environment.</p>

  <p>We all know that we should be taking steps to lower our carbon footprint, so every week you'll also get a personalised email summary of all your journeys, and the total amount of carbon emitted. Hopefully it'll surprise you how much a change of transport can help to lower the CO2 you're responsible for.</p>

  <p>CO42 is powered by AMEE, a company dedicated to finding lasting solutions for the world's environmental problems. Check out <%= link_to "www.amee.com", "http://www.amee.com" %> for more details</p>

</div>

<div class="span4 offset3">

    <h2 id="welcome_to_co4squared"><%= image_tag('welcome-to-co4squared.png') %></h2>
  
  <%= link_to image_tag('connect.png'), @authorize_url, :class => 'connect  ' %>
  
</div>

</div>
