<div class="row">

<div class="span7">

  <div id="amee_logo">
    <h1><%= image_tag('amee_personal_score.png', :alt => "Welcome to AMEE Personal Score") %></h1>
  </div>

  <h3>AMEE Personal Score is a fun, free and easy-to-use way to estimate the amount of carbon your everyday journeys emits.</h3>

  <p>Based on your check-ins on Foursquare, AMEE Personal Score works out the amount of CO2 you'll have emitted on the journey between each one, depending on how you got there. You can then compare different means of transport to see which is the most carbon-efficient, and how little changes to your daily routine can make a difference to the environment.</p>

  <p>We all know that we should be taking steps to lower our carbon footprint, so every week you'll also get a personalised email summary of all your journeys, and the total amount of carbon emitted. Hopefully it'll surprise you how much a change of transport can help to lower the CO2 you're responsible for.</p>

<%= link_to image_tag('poweredbyamee-icon.png', :alt => "AMEE - Environmental Intelligence Everywhere"), "http://www.amee.com", :title => "AMEE Personal Score is powered by AMEE, a company dedicated to finding lasting solutions for the world's environmental problems." %>

</div>

<div class="span4 offset3">

  <%= link_to image_tag('connect.png'), @authorize_url, :class => 'connect  ' %>
  
</div>

</div>
