
<div class="row">

<div class="span7">

  <div id="amee_logo">
    <h1><%= image_tag('amee-logo.png', :alt => "AMEE - Environmental Intelligence Everywhere") %></h1>
  </div>


  <h3>CO42  gives you an estimate of the carbon emissions associated with your foursquare check ins.</h3>
    
    <p>Based on the distance travelled between checkins, we make a few (fairly basic) assumptions about your mode of transport and the associated carbon emissions.</p>  

  <p style="width:240px;">Each week you get an email summary of your emissions and we hope it’ll make you think about how you get around. CO42 is powered by AMEE - check out www.amee.com for more details</p>

</div>

<div class="span4 offset3">

    <h2 id="welcome_to_co4squared"><%= image_tag('welcome-to-co4squared.png') %></h2>
  
  <%= link_to image_tag('connect.png'), @authorize_url, :class => 'connect  ' %>
  
</div>

</div>
