<div class="row">

<div class="span8">

  <div id="amee_logo">
    <h1>
      <%=
        image_tag('alf.png', :alt => "Welcome to AMEE Location Footprinter")
      %>
    </h1>
  </div>

  <h3>
    ALF helps you understand the environmental impact of your travel
  </h3>

  <br />

  <%=
    link_to image_tag('connect.png'), @authorize_url,
      :class => 'connect no_underline'
  %>

  <br />
  
  <h3>
    <%= link_to "Learn more >>", "/learn_more" %>
  </h3>

  <br />

  <%=
    link_to image_tag(
        'poweredbyamee-icon.png',
        :alt => "AMEE - Environmental Intelligence Everywhere"
      ),
      "http://www.amee.com",
      :title => "AMEE Location Footprinter is powered by AMEE, a company
        dedicated to finding lasting solutions for the world's environmental
        problems.",
      :class => 'no_underline'
  %>

</div>

<div class="span4 offset3">

  
  
</div>

</div>