defaults: &defaults
  client_id: YOUR_CLIENT_ID
  client_secret: YOUR_CLIENT_SECRET
  redirect_url: http://localhost:3000/user/callback
  access_token: ACCESS_TOKEN_FOR_A_DEV_USER

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults