

<div class="span8">

<div class="copy">
  <p>AMEE Location Footprinter is a fun, easy to use app that gives you a general idea of the environmental impact of your travel.</p>

  <p>This is an experiment, built on top of the FourSquare API, to work out the distance and method of implied travel implied between checkins, and calculating the associated emissions, based on the peer reviewed emission factors available through the AMEE platform.</p>

  <h3 id="limitations_disclaimers_provisos">Limitations, disclaimers, and provisos.</h3>

  <p><em>Please</em> remember, this app is intended just for fun and increasing the general awareness and understanding of the environmental impact of travel - we don&#8217;t pretend for a minute that this is a complete rigorous tool for assessing the footprint of travel, and to illustrate this we have made the following (occasionally comical) assumptions:</p>

  <ul>
  <li><p>routes between checkins are straight lines (remember, this is mainly a hack for fun, and we don&#8217;t use real route finding APIs, like those provided by Google, Bing or OpenStreetMap).</p></li>
  <li><p>distance is the primary factor used when trying to work out whether a journey was taken by car, train, bike, or plane. We link to the methodology used for each emission factor in each case.</p></li>
  <li><p>we assume for this experiment that whenever people travel anywhere, they faithfully remember to check in at every destination.</p></li>
  </ul>

  <p>If these assumptions <em>precisely</em> match how you travel, and how you use FourSquare, we think you&#8217;ll find this app to be eerily accurate. If this isn't the case, we hope it's still interesting. </p>

  <h3 id="what_next">What next?</h3>

  <p>We&#8217;d love to develop this further, so if you have any suggestions, ideas or feature requests, why not pop a suggestion in the little box that pops up in the corner.</p>

  <p>If know your way around Ruby and Git, and you're curious about how this was built, (or even better, you&#8217;d like to hack on it and make it better) all the code is available on github.</p>

  <p>Sending a pull request would make our developers incredibly happy, so if you can, get forking!</p>


  
</div>

</div>