<html>
<head>
  <title>AMEE weekly summary</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  <style type="text/css">
  body {
  	background-color: #F7F7D3;
  }
  </style>
</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div align="center">

  <table id="Table_01" width="600" border="0" cellpadding="0" cellspacing="0" style="background-color:#fdfdf6;">
    <tr>
      <td width="246" height="144" colspan="4" rowspan="3">
        <img src="http://localhost:5000/images/email/logo.jpg" width="246" height="144" alt="">
      </td>
      <td width="196" height="144" colspan="3" rowspan="3">
        <img src="http://localhost:5000/images/email/footprint.jpg" width="196" height="144" alt="">
      </td>
      <td width="91" height="69" colspan="2">
        <img src="http://localhost:5000/images/email/total-top.jpg" width="91" height="69" alt="">
      </td>
      <td width="67" height="144" rowspan="3">
        <img src="http://localhost:5000/images/email/index_04.jpg" width="67" height="144" alt="">
      </td>
    </tr>
    <tr>
      <td height="47" colspan="2" style="background-color:#cdd40a;">
        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 20px; color:#FFF; font-weight:normal; text-align:center; padding-top:8px;">
          2,000kg
        </p>
      </td>
    </tr>
    <tr>
      <td height="18" colspan="2">
        <img src="http://localhost:5000/images/email/total-bottom.jpg" width="91" height="28" alt="">
      </td>
    </tr>

    <tr>
      <td width="600" height="50" colspan="10">
        <table width="600" height="81" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="433" height="77" style="background-color:#FFF;">
              <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; color:#037e90; padding-left:36px;line-height:1.5;">
                <span style="font-size:16px;">Hi Chris!</span><br>
                Hope you had a good week travelling round. Here's your weekly emissions breakdown from <strong>CO4.</strong>
              </p>
            </td>
            <td width="157">
              <img src="http://localhost:5000/images/email/spacer-under-total.jpg" width="157" height="100" alt="">
            </td>
          </tr>
        </table><img src="http://localhost:5000/images/email/index_05.jpg" width="600" height="26" alt="">
      </td>
    </tr>

  <% @user.checkins.each_with_index do |checkin, i | 
    
    next if i <= 1 
    
  %>

<!-- = Begin Row for a day  = -->

    <tr>
      <td width="35" height="164" rowspan="4">
        &nbsp;
      </td>
      <td width="407" height="25" colspan="6" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 12px; padding-left:18px; color:#037e90; letter-spacing:2px;">
        <p>
            <%= checkin.timestamp %>
          <!-- MON 3RD DEC -->
        </p>
      </td>
      <td width="90" height="25">
        <img src="http://localhost:5000/images/email/hex-top.jpg" width="90" height="25" alt="">
      </td>
      <td width="68" height="164" colspan="2" rowspan="4">
        &nbsp;
      </td>
    </tr>

    <tr>
      <td width="238" height="42" colspan="5">
        <img src="http://localhost:5000/images/email/bus.jpg" width="238" height="42" alt="">
      </td>
      <td width="169" height="42" style="background-color:#f0f2b5;">
        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 22px; color:#037e90; padding-top:8px;">
            
          <%= 
          prev_checkin = @user.checkins[i-1]
          number_with_precision(Checkin.distance_between_points(checkin, prev_checkin).to_km, :precision => 2) %>
          <span style="font-size:12px;">km</span>
        </p>
      </td>
      <td width="90" height="42" style="background-color:#027d90;">
        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 20px; color:#FFF; font-weight:normal; text-align:center; padding-top:8px;">
          12kg
        </p>
      </td>
    </tr>

    <tr>
      <td width="51" height="76" style="background-color:#f0f2b5;">
        <img align="right" src="http://localhost:5000/images/email/museum.png" width="32" height="32" alt="">
      </td>
      <td width="126" height="76" style="background-color:#f0f2b5;">
        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 14px; color:#037e90; padding-left:6px;">
          <%=
            prev_checkin.venue_name      
          %>  
          <!-- Starting place with a long name -->
        </p>
      </td>
      <td width="51" height="76" colspan="2" style="background-color:#f0f2b5;">
        <img align="right" src="http://localhost:5000/images/email/bowling.png" width="32" height="32" alt="">
      </td>
      <td width="179" height="76" colspan="2" style="background-color:#f0f2b5;">
        <p style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif; font-size: 14px; color:#037e90; padding-left:12px;">
          <%= checkin.venue_name %>
          <!-- Destination with a really long name -->
        </p>
      </td>
      <td width="90" height="76">
        <img src="http://localhost:5000/images/email/hex-bottom-line.jpg" width="90" height="76" alt="">
      </td>
    </tr>

 <!-- = End row for a day = -->

<% end %>
<!-- = Begin second activity in a given day = -->



<!-- = End second activity in a given day  = -->




 <tr>
   <td width="600" height="580" colspan="10">
     <img src="http://localhost:5000/images/email/footer.jpg" width="600" height="615" alt="">
   </td>
 </tr>
 <tr>
   <td width="35" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="35" height="1" alt="">
   </td>
   <td width="51" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="51" height="1" alt="">
   </td>
   <td width="126" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="126" height="1" alt="">
   </td>
   <td width="34" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="34" height="1" alt="">
   </td>
   <td width="17" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="17" height="1" alt="">
   </td>
   <td width="10" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="10" height="1" alt="">
   </td>
   <td width="169" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="169" height="1" alt="">
   </td>
   <td width="90" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="90" height="1" alt="">
   </td>
   <td width="1" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="1" height="1" alt="">
   </td>
   <td width="67" height="1">
     <img src="http://localhost:5000/images/email/spacer.gif" width="67" height="1" alt="">
   </td>
 </tr>




</table>
</div>
</body>
</html