<div class="row">

<div class="span7">

<h2>Hey <%= current_user.first_name %>!</h2>

<p>We’re processing your last week of check ins now and will email you a summary of your weekly carbon emissions shortly.</p>

<p>We hope it will inspire you to think about your carbon footprint, and how small changes to the way you travel can make a lasting difference to the world.</p>

<p><a href="http://www.amee.com" title="AMEE: Environmental Intelligence &#8211; Everywhere">The team at AMEE</p></a>

</div>

<div class="span4 offset 4"></div>

</div>
