<div class="row">

<div class="span7">

<h2>Hey <%= current_user.first_name %>!</h2>

<p>We’re processing your last week of check ins now and will email you a summary of your weekly carbon emissions shortly.</p>

<p>It’s just a bit of fun, based on some massive generalisations about how people travel, but we hope it might spark your interest in your footprint and what you can do about it.</p>

<p>Happy check ins!</p>

<p><a href="http://www.amee.com" title="AMEE: Environmental Intelligence &#8211; Everywhere">The AMEE team</p></a>

</div>

<div class="span4 offset 4"></div>

</div>
