
/* ===================== */
/* = Background Styles = */
/* ===================== */

/* Shocking hack, to remove the ugly horizontal scrollbar on the background */
html {
  overflow-x: hidden;
}

/* Add backgrounds used everywhere in the app */
div#bg_texture {
  background: url(/assets/bg.jpg);
  position: absolute;
  height: 100%;
  width: 100%;
  background-position:right -105px;
  z-index: -100;
}

#pile_o_blocks {
  background-image: url(/assets/smaller_pile_o_hexagons.png);
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: right 320px;
  background-repeat: no-repeat;
  z-index: -90;
}

#amee_logo {
  width: 236px;
  height: 82px;
  display:block;
  margin-bottom:60px;
  position:relative;
  left:-5px;
  top:30px;
}

#welcome_to_co4squared{
/* margin-top:2px; */
}


/* ===================== */
/* = Nav Bar overrides = */
/* ===================== */


.topbar-inner, .topbar .fill {
  background-color: #222;
  background-color: #7db4b4;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#008b99), to(#7db4b4));
  background-image: -moz-linear-gradient(top, #008b99, #7db4b4);
  background-image: -ms-linear-gradient(top, #008b99, #7db4b4);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008b99), color-stop(100%, #7db4b4));
  background-image: -webkit-linear-gradient(top, #008b99, #7db4b4);
  background-image: -o-linear-gradient(top, #008b99, #7db4b4);
  background-image: linear-gradient(top, #008b99, #7db4b4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008b99', endColorstr='#7db4b4', GradientType=0);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.topbar-inner, .topbar .pull-right{
  float:right;
}

/* ================== */
/* = Text overrides = */
/* ================== */

h1,h2,h3, h4, p{
 color: #0072B1;
}

h3{
  font-size:  16px;
  line-height: 1.5;
}

p{
  margin-top:18px;
}

#bg_texture div.container{
  margin-top:48px;
}

/* Styling connect via link*/

a.connect{
  margin: 5px 3px 5px 0;
  padding-left: 30px;
  padding-top:  15px;
  padding-bottom: 5px;
  text-shadow: 0 1px 1px white;
  line-height: 30px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  background: #0072b1;
  width:  215px;
  display:  block;
  position: relative;
  left: 65px;
  top: 135px;
}



/**
 * About
 *
 * @section about
 * Add a semi transparent background to make
 * text more readable when it's rendered in front
 * of an illustration.
 */

.copy{
  background: #FFF;
  background: rgba(255,255,255,0.6);
  filter: alpha(opacity = 60); 
  padding:12px;
}