<!DOCTYPE html>
<html>
<head>
  <title>Cico2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="bg_texture">
<div id="pile_o_blocks"></div>

  <div class="container">

  <%= yield %>

  </div>

</div>

</body>
</html>
